
@{
    ViewData["Title"] = "Index";
    Layout = "null";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <title>Careo</title>
</head>

<body>
    <main>
        <!-- Header -->
        <nav id="home" class="navbar navbar-expand-lg bg-light fixed-top"
             style="background-image: url(/../assets/img/header_bg.jpg);">
            <div class="container">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link red fw-bold" aria-current="page" href="#slider">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#customer">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#contact">Contact Us</a>
                        </li>
                    </ul>
                    <div>
                        <img src="~/assets/img/logo.png" alt="">
                    </div>
                    <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
                        <li class="nav-item">
                            <p class="nav-link">Call:(+71) 1234567890</p>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link">Email:mhmmd123@gmail.com</p>
                        </li>
                        <li class="nav-item"><i class="bi bi-search nav-link text-dark"></i></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- First-slider -->
        <section id="slider" class="w-100 vh-100 pt-5"
                 style="background-image: url(/../assets/img/FirstSection/banner.jpg);">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container pt-5">
                            <div class="row pt-5">
                                <div class="col-md-6 pt-5">
                                    <h3 class="text-uppercase text-white fw-bold" style="font-size: 50px !important;">
                                        welcome to
                                    </h3>
                                    <h1 class="text-uppercase text-white  fw-bold"
                                        style="font-size: 150px  !important;">
                                        Area
                                    </h1>
                                    <p class="text-white">
                                        There are many variations of passages of Lorem Ipsum
                                        available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable. If you are
                                    </p>
                                    <div class="d-flex flex-row">
                                        <button class="btn btn-light  form-control-lg">
                                            <a href="#"
                                               class="text-decoration-none text-dark fw-bold ">Read More</a>
                                        </button>

                                        <button class="btn btn-light ms-3  form-control-lg">
                                            <a href="#"
                                               class="text-decoration-none text-dark fw-bold ">Book Now</a>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <img src="~/assets/img/FirstSection/girl.png" class="d-block " width="870" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container pt-5">
                            <div class="row pt-5">
                                <div class="col-md-6 pt-5">
                                    <h3 class="text-uppercase text-white fw-bold" style="font-size: 50px !important;">
                                        welcome to
                                    </h3>
                                    <h1 class="text-uppercase text-white  fw-bold"
                                        style="font-size: 150px  !important;">
                                        labspa
                                    </h1>
                                    <p class="text-white">
                                        There are many variations of passages of Lorem Ipsum
                                        available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable. If you are
                                    </p>
                                    <div class="d-flex flex-row">
                                        <button class="btn btn-light  form-control-lg">
                                            <a href="#" class="text-decoration-none text-dark fw-bold ">Read More</a>
                                        </button>

                                        <button class="btn btn-light ms-3  form-control-lg">
                                            <a href="#"
                                               class="text-decoration-none text-dark fw-bold ">Book Now</a>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <img src="~/assets/img/FirstSection/girl.png" class="d-block " width="870" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container pt-5">
                            <div class="row pt-5">
                                <div class="col-md-6 pt-5">
                                    <h3 class="text-uppercase text-white fw-bold" style="font-size: 50px !important;">
                                        welcome to
                                    </h3>
                                    <h1 class="text-uppercase text-white  fw-bold"
                                        style="font-size: 150px  !important;">
                                        Careo
                                    </h1>
                                    <p class="text-white">
                                        There are many variations of passages of Lorem Ipsum
                                        available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable. If you are
                                    </p>
                                    <div class="d-flex flex-row">
                                        <button class="btn btn-light  form-control-lg">
                                            <a href="#"
                                               class="text-decoration-none text-dark fw-bold ">Read More</a>
                                        </button>

                                        <button class="btn btn-light ms-3  form-control-lg">
                                            <a href="#"
                                               class="text-decoration-none text-dark fw-bold ">Book Now</a>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <img src="~/assets/img/FirstSection/girl.png" class="d-block " width="870" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <!-- Services -->
        <section id="services" class="pt-5">
            <div class="container pt-5">
                <div class="text-xxl-center">
                    <h3 class="text-dark fw-bold"><i class="bi bi-pen-fill text-danger"></i>Our Services</h3>
                </div>
                <div class="row pt-5 text-xxl-center  ">
                    <div class="col-sm-4 border-service">
                        <img src="~/assets/img/card/thr2.png" alt="">
                        <h4 class="text-uppercase  pt-2 h">Cosmetic</h4>
                        <p class="h">
                            some form, by injected humour, or randomised words which don't look even slightly
                            believable. If you are
                        </p>
                    </div>
                    <div class="col-sm-4 border-service">
                        <img src="~/assets/img/card/thr1.png" alt="">
                        <h4 class="text-uppercase  pt-2 h">Nails</h4>
                        <p class="h">
                            some form, by injected humour, or randomised words which don't look even slightly
                            believable. If you are
                        </p>
                    </div>
                    <div class="col-sm-4  border-service">
                        <img src="~/assets/img/card/thr.png" alt="">
                        <h4 class="text-uppercase  pt-2 h">HAIRDRESSING</h4>
                        <p class="h">
                            some form, by injected humour, or randomised words which don't look even slightly
                            believable. If you are
                        </p>
                    </div>
                </div>
                <div class="text-xxl-center pt-4">
                    <button class="bg-dark btn-dark form-control-lg b">
                        <a href="#"
                           class="text-decoration-none text-white">
                            Read
                            More
                        </a>
                    </button>
                </div>
            </div>
        </section>
        <!-- About -->
        <section id="about" class=" pt-5 w-100 vh-100 "
                 style="background-image: url(/../assets/img/about_bg.jpg); background-repeat: no-repeat;">
            <div class="container pt-5">
                <div class="pt-5">
                    <h3 class="text-white fw-bold"><i class="bi bi-pen-fill text-white"></i> About Our Labspa </h3>
                    <p class="text-white">
                        There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised words which
                        don't look even slightly believable. If you are
                    </p>
                    <button class="btn-dark bg-dark a form-control-lg">
                        <a href="#"
                           class="text-decoration-none text-white ">Read More</a>
                    </button>
                </div>

            </div>
        </section>
        <!-- Customer -->
        <section id="customer" class="pt-3">
            <div class="container">
                <div class="text-xxl-center">
                    <h3 class="text-dark fw-bold"><i class="bi bi-pen-fill text-danger"></i>Our Customer Feedback</h3>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide pt-5" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <div class="text-xxl-center">
                                <img src="~/assets/img/slider/tes.png" alt="">
                                <h4 class="text-uppercase text-dark pt-3">ROHALI JONSON</h4>
                                <span class="text-lowercase text-danger">customer</span>
                                <p class="pt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
                                    reprehenderit
                                    ipsa! Minus, et asperiores unde possimus quibusdam architecto incidunt cumque nulla
                                    sed pariatur distinctio excepturi, illo natus, vel deserunt similique!
                                </p>
                                <img class="pt-3" src="~/assets/img/slider/icon.png" alt="">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="text-xxl-center">
                                <img src="~/assets/img/slider/tes.png" alt="">
                                <h4 class="text-uppercase text-dark pt-3">ROHALI JONSON</h4>
                                <span class="text-lowercase text-danger">customer</span>
                                <p class="pt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
                                    reprehenderit
                                    ipsa! Minus, et asperiores unde possimus quibusdam architecto incidunt cumque nulla
                                    sed pariatur distinctio excepturi, illo natus, vel deserunt similique!
                                </p>
                                <img class="pt-3" src="~/assets/img/slider/icon.png" alt="">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="text-xxl-center">
                                <img src="~/assets/img/slider/tes.png" alt="">
                                <h4 class="text-uppercase text-dark pt-3">ROHALI JONSON</h4>
                                <span class="text-lowercase text-danger">customer</span>
                                <p class="pt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
                                    reprehenderit
                                    ipsa! Minus, et asperiores unde possimus quibusdam architecto incidunt cumque nulla
                                    sed pariatur distinctio excepturi, illo natus, vel deserunt similique!
                                </p>
                                <img class="pt-3" src="~/assets/img/slider/icon.png" alt="">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-danger" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-danger" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <!-- Contact Us -->
        <section id="contact" class="pt-5 w-100 "
                 style="background-image: url(/../assets/img/contact.jpg);height: 80vh !important;">
            <div class="container pt-4">
                <div class="text-xxl-center">
                    <h3 class="text-white fw-bold">
                        <i class="bi bi-pen-fill text-white"></i><span class="text-dark">Request</span> A call Back
                    </h3>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" placeholder="Name" class="form-control rounded-pill">
                        </div>
                        <br>

                        <div class="input-group">
                            <input type="email" placeholder="Email" class="form-control rounded-pill">
                        </div>
                        <br>

                        <div class="input-group">
                            <input type="number" placeholder="Phone Number" class="form-control rounded-pill">
                        </div>
                        <br>

                        <div class="input-group">
                            <textarea placeholder="Message" class="form-control " id="" cols="30" rows="10"></textarea>
                        </div>
                        <br>

                        <div class="input-group">
                            <button class="rounded-pill  bg-dark form-control-lg f ">
                                <a href="#"
                                   class="text-decoration-none text-white l">Send</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 rounded-pill">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.748317523108!2d49.813257115705156!3d40.37010466639721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dc397d94dc3%3A0x617bc46b47244c00!2sAzerbaijan%20Technical%20University!5e0!3m2!1sen!2s!4v1655973590569!5m2!1sen!2s"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <section id="footer" class="w-100 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pt-3">
                        <div class="row pt-5">
                            <div class="col-md-4 bg-dark"></div>
                            <div class="col-md-4 fs-3 ">
                                <p class="text-uppercase text-white">Newsletter</p>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Enter your Email"
                                           aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-danger  text-uppercase" type="button"
                                            id="button-addon2">
                                        SubsCribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pt-5">
                        <img src="~/assets/img/logo1.png" alt="">
                        <p class="text-white">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                            Quisque volutpat mattis eros.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
                            odio. Quisque volutpat mattis eros.
                        </p>
                    </div>
                    <div class="col-md-3 pt-5">
                        <h3 class="text-uppercase text-white">CONTACT US</h3>
                        <p class="text-white l">
                            Donec odio. Quisque
                            volutpat mattis
                            eros.Lorem ipsum dolor
                            sit amet, consectetuer
                            adipiscing elit. Donec
                            odio. Quisque volutpat
                        </p>
                    </div>
                    <div class="col-md-3 pt-5">
                        <h3 class="text-uppercase text-white">INFORMATION</h3>
                        <p class="text-white l">
                            Donec odio. Quisque
                            volutpat mattis
                            eros.Lorem ipsum dolor
                            sit amet, consectetuer
                            adipiscing elit. Donec
                            odio. Quisque volutpat
                        </p>
                    </div>
                    <div class="col-md-3 pt-5">
                        <h3 class="text-uppercase text-white">MY ACCOUNT</h3>
                        <p class="text-white l">
                            Donec odio. Quisque
                            volutpat mattis
                            eros.Lorem ipsum dolor
                            sit amet, consectetuer
                            adipiscing elit. Donec
                            odio. Quisque volutpat
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- By Me Design -->
        <footer class="bg-danger">
            <div class="text-xxl-center pt-3">
                <p class="text-white pt-4">© 2022 All Rights Reserved. Mahammad Design</p>
            </div>
        </footer>
    </main>
    <script src="~/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"></script>
</body>

</html>

